<body>
  <div class="container">
    <h1 class="text-center my-5 display-3">About Me</h1>
    <div class="row mt-5">
      <div class="col-md-4">
        <img
          src="/images/gagan.jpg"
          style="height: auto;"
          class="img-fluid"
          alt="Gagan Meshram image"
        />
      </div>
      <div class="col-md-8">
        <p class="para">
          Hi, my name is
          <a
            href="https://www.linkedin.com/in/gagan-meshram/" target="_blank"
            class="text-warning text-bold"
          >Gagan Meshram</a>
          and I am a Web Developer. I have 1.4 years of experience in
          <span class="text-primary">Web&nbsp;development</span>
          also as a
          <span class="text-primary">AEM&nbsp;Web&nbsp;Producer</span>. I am
          passionate about Web development. I am always looking for new
          opportunities to learn and grow in my field.
        </p>
        <div>
          <p class="para">I write about a variety of topics, including personal
            development, travel, and lifestyle. I believe that everyone has
            something valuable to share and I am always on the lookout for new
            and exciting stories to share with my readers. I hope that my blog
            can inspire and empower others to find their own voice and share
            their own stories.</p>
        </div>
        <div>
          <p class="para">When I'm not writing, I enjoy traveling, trying new
            foods, and spending time with my friends and family. I am also a
            huge animal lover and I have a cat named Whiskers who is always by
            my side.</p>
        </div>
      </div>

    </div>
  </div>

</body>