<div
  class="container-xxl p-5"
  style="background-image:url(https://damassets.autodesk.net/content/dam/autodesk/www/collections/fy21/architecture-engineering-construction/overview/images/aec-collection-overview-banner-1580x300-v2.jpg);"
></div>