<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container-md my-5 p-4">
      <h1 class="text-center display-3">About this project</h1>
    </div>

    <div class="row d-flex justify-content-center mb-4">
      <div class="col-md-8 col"><p class="para">My blogging website project is an online
          platform that allows users to create and share their own blog posts.
          The website will have a clean and modern design, making it easy for
          users to navigate and find the content they are looking for.</p>
        <p class="para">This project is made in express using bootstrao. I have used the
          blogging API for this project which provides wide range of
          information.</p></div>
    </div>

    {{! <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus
          error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
          architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
          voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
          consequuntur.</p>
      </div>
      <!-- Grid column -->

    </div> }}

  </body>
</html>